.header {
    top: 0;
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.header h1 {
    margin: 0;
    animation: colorChange 10s infinite, zoominout 25s infinite;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
@keyframes colorChange {
    0%, 100% {
      color: #fff; /* Start color */
    }
    50% {
      color: #ff004f; /* Change to this color */
    }
  }
  
  @keyframes zoominout {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.9);
    }
  }