#services {
    padding: 20px;
    text-align: center;
}

#services h2 {
    margin: 20px 0;
    font-size: 24px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.service {
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.service img {
    width: 250px;
    height: 320px;
    border-radius: 20px;
}
